body{
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    border: 2px solid black;
}

 aside, article {
    display: inline-block;
}

ul{
    width: 60%;
    
}

article{
    width: 60%;
    margin: 30px;
    
}

aside{
    width: 35%;
    float: inline-end;
    
}

section h2{
    margin-top: 50px;

}

h1, h2{
    font-family: serif;
    
}

img{
    max-width: 60%;  
    height: auto;  
}

