*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1800px;
    margin: 0 auto;
}

.viewport {
    display: block;
    position: relative; 
    height: 400px; 
    
}

img {
    width: 50%;
    height: auto;
    
}


.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-30%, -50%);
}

.viewport:nth-child(1) {
    background: linear-gradient(to right, rgb(10, 114, 204), rgb(150, 226, 150));
}

.viewport:nth-child(2) {
    background: linear-gradient(to right, #c32888, orange);
}






