/* @media (max-width: 95vw){ */
    body{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 500px;
        margin: 0 auto;   
    }

    p, h2{
        width: 70%;
    }

    img{
        display: block;
        height: auto;
        width: 67%;
    }

}

