@media screen and (width: 360px) {
    article{
    color: red;
    border: 3px solid blue;

}
}

@media screen and (min-width: 35rem){
    article{
        background-color: yellow;
        color: black;
        border: none;

    }
}

@media screen and (max-width: 50rem){
    article{
        background-color: yellow;
        color: black;
        border: 3px solid blue;
        

    }

}